@model EcommerceMVC.ViewModel.ProductViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group" style="display: block;margin: 0px 100px;">
    <div class="form-outline">
        <label class="form-label" style="font-size : large">Search</label>
        <div style="display:flex">
            <input id="search-input" onkeyup="myFunction()" type="search" class="form-control" placeholder="Search Product Name.." />
            <button id="search-button" type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div style="height:300px;overflow : auto;display : none;margin-top:4px" id="searchResult">
        <ul id="myUL" style="padding: 10px;">
            @foreach (var item in Model.Products)
            {
                <li style="list-style:none;display : block">
                    <div style="display: flex;margin: 10px;justify-content: space-between;">
                        <div style="display:flex">
                            <img width="50" src="@item.Image" />
                            <div style="display : flex;flex-direction : column;padding-left:20px">
                                <div class="productName"><b>Product Name : </b>@item.ProductName</div>
                                <div class="price"><b>Product Price : </b>@item.Price</div>
                            </div>
                        </div>
                        <div class="addCartButtom">
                            <a class="btn btn-primary" role="button" href="@Url.Action("AddToCart","User",new { id = item.Id})">Add To Cart</a>
                        </div>
                    </div>
                    <hr />
                </li>
            }
        </ul>
    </div>
</div>

<div class="wrapper">
    @foreach (var item in Model.Products)
    {
        <div class="products">
            <div class="imageContainer">
                <img class="image" src="@item.Image" />
            </div>
            <div class="details">
                <div class="productName"><b>Product Name : </b>@item.ProductName</div>
                <div class="price"><b>Product Price : </b>@item.Price</div>
            </div>
            @*<div class="addCartButtom">
                    <button class="addCart"  onclick="@Url.Action("AddToCart","User",new { id = item.Id})">Add To Cart</button>
                </div>*@
            <div class="addCartButtom">
                <a class="btn btn-primary" role="button" href="@Url.Action("AddToCart","User",new { id = item.Id})">Add To Cart</a>
            </div>
        </div>

     }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var search = document.getElementById("searchResult");
        var input = document.getElementById("search-input");

        if (input.value !== "") {
            search.style.display = "";
        } else {
            search.style.display = "none";
        }

        function myFunction() {
            var input = document.getElementById("search-input");
            var filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");

            if (input.value !== "") {
                search.style.display = "";
            } else {
                search.style.display = "none";
            }

            for (var i = 0; i < li.length; i++) {
                var textValue = li[i].textContent || li[i].innerText;
                if (textValue.toUpperCase().indexOf(filter) > -1) {

                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
}


