@model EcommerceMVC.ViewModel.ProductViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group" style="display: block;margin: 0px 100px;">
    <div class="form-outline">
        <label class="form-label" style="font-size : large">Search</label>
        <div style="display:flex">
            <input id="search-input" onkeyup="myFunction()" type="search" class="form-control" placeholder="Search Product.." />
            <button id="search-button" type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div style="height:300px;overflow : auto" class="searchResult">
        @foreach (var item in Model.Products)
        {

            <div style="display: flex;margin: 10px;justify-content: space-between;">
                <div style="display:flex">
                    <img width="50" src="@item.Image" />
                    <div style="display : flex;flex-direction : column;padding-left:20px">
                        <div class="productName"><b>Product Name : </b>@item.ProductName</div>
                        <div class="price"><b>Product Price : </b>@item.Price</div>
                    </div>
                </div>
                <div class="addCartButtom">
                    <button class="addCart">Add To Cart</button>
                </div>
            </div>

        }
    </div>
</div>

    @foreach (var item in Model.Products)
    {
        <div class="products">
            <div class="imageContainer">
                <img class="image" src="@item.Image" />
            </div>
            <div class="details">
                <div class="productName"><b>Product Name : </b>@item.ProductName</div>
                <div class="price"><b>Product Price : </b>@item.Price</div>
            </div>
            <div class="addCartButtom">
                <button class="addCart">Add To Cart</button>
            </div>
        </div>

    }


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function myFunction() {
            var input, filter;

            input = document.getElementById("search-input")
        }
    </script>
}


