@model IEnumerable<EcommerceMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div style="display : flex;flex-direction : column;width : 100%">
    <div style="display : flex;justify-content : space-between">
        <h1>My Cart</h1>
        <h3>Total : @ViewBag.MyCartsCount</h3>
    </div>

    <table class="table" style="width : 100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img width="100" src="@item.Image" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

